body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root{
  margin-bottom: 8px;
}

.user_name,
.user_location {
  color: blue;
  font-size: 15px;
}

.user_name_update, .user_location_update {
  color: green;
  font-weight: bold;
}

#social_links {
  width: 48%;
  float: left;
  padding: 10px;
  background: whitesmoke;
}

#form_section {
  width: 48%;
  padding: 10px;
  float: right;
  background: whitesmoke;
}

.navebar_menu ul {
  list-style: none;
  padding: 10px;
  display: flex;
  margin: auto;
  background: darkgray;
}

.navebar_menu ul li {
  padding-right: 20px;
  padding-left: 20px;
}

.navebar_menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: lavenderblush;
}

.navebar_menu ul li a:hover {
  color: #333;
}

.black_background {
  display: none;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background-color: #000000;
  left: 0;
  position: fixed;
  top: 0;
}