.remove_todo, .edit_todo {
    float: right;
}

.todo_list {
    width: 20%;
    height: auto;
    display: inline-block;
    background: antiquewhite;
    padding: 15px 10px;
    border-radius: 20px;
    list-style: none;
    margin: 5px;
    white-space: pre-line;
  }

  
.todo_view {
    width: 70%;
    float: right;
    padding: 20px 0px 0px 20px;
    display: contents;
  }


  .form_container {
    width: 30%;
    float: left;
  }
  
  .form_container label.checkbox-inline {
    padding-right: 10px;
  }
  
  .form_container input#skills {
    margin-right: 5px;
  }
  
  label.titles {
    font-size: 15px;
    color: dimgray;
  }